<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef style="font-size:20px;"> สถานะ </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button *ngIf="element.Status === 1 && showButton" (click)="toggleButton(element)">
                <mat-icon>toggle_on</mat-icon>
              </button>
              <button mat-icon-button *ngIf="element.Status === 0 || !showButton" (click)="toggleButton(element)">
                <mat-icon>toggle_off</mat-icon>
              </button>
            </td>
          </ng-container>

        <ng-container matColumnDef="NewsId">
            <th mat-header-cell *matHeaderCellDef style="font-size:20px;"> ลำดับ </th>
            <td mat-cell *matCellDef="let element"> {{ element.NewsId }} </td>
          </ng-container>

          <ng-container matColumnDef="NameNews">
            <th mat-header-cell *matHeaderCellDef style="font-size:20px;"> ชื่อเรื่อง </th>
            <td mat-cell *matCellDef="let element"> {{ element.NameNews }} </td>
          </ng-container>

          <ng-container matColumnDef="UpdatedDate">
            <th mat-header-cell *matHeaderCellDef style="font-size:20px;"> วันที่สร้าง </th>
            <td mat-cell *matCellDef="let element"> {{ element.UpdatedDate.split('T')[0].split('-').reverse().join('-') }} </td>
          </ng-container>

          <ng-container matColumnDef="Manage">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 45px; font-size:20px;"> จัดการ </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button *ngIf="element.ButtonView === 1" style="background-color: rgb(55, 164, 226);color: white;border: 0;border-radius: 20%;"  (click)="onManage(element)">
                    <mat-icon>description</mat-icon>
                </button>
                <button mat-icon-button *ngIf="element.ButtonEdit === 1" style="background-color: rgb(45, 235, 108);color: white;border: 0;margin: 10px;border-radius: 20%">
                    <mat-icon>create</mat-icon>
                </button>
                <button mat-icon-button *ngIf="element.ButtonDelete === 1" style="background-color: rgb(204, 67, 25);color: white;border: 0;border-radius: 20%">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>
        
          <!-- แสดงคอลัมน์ -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="popup" *ngIf="selectedNews">
    <div class="popup-content">
      <div class="popup-header">
        <h2 class="popup-title" style="margin-left: 20px;font-size: medium;">รายละเอียดข่าวประชาสัมพันธ์</h2>
      </div>
      <div class="row">
          <div class="col" style="padding-top: 20px;">
              <label style="color: rgb(37, 40, 196);">ชื่อเรื่อง<label style="color: red;">*</label></label>         
              <textarea class="popup-textarea"  [(ngModel)]="selectedNews.NameNews" disabled></textarea>
          </div>
          <div class="col" style="padding-top: 20px;">
            <label style="color: rgb(37, 40, 196);">เนื้อหา<label style="color: red;">*</label></label>
            <textarea class="popup-textarea" style="height: 100px;" [(ngModel)]="selectedNews.Detail" disabled></textarea>
          </div>
      </div>
      <div class="col" style="text-align: left;margin-top: 20px;">
        <label style="color: rgb(37, 40, 196);">สถานะ</label>
          <button mat-icon-button *ngIf="showButton[selectedNews.NewsId]" style="margin-top: 20px;margin-left: 20px;" (click)="toggleButton(selectedNews)">
            <mat-icon>toggle_on</mat-icon>
          </button>
          <button mat-icon-button *ngIf="!showButton[selectedNews.NewsId]" style="margin-top: 20px;;margin-left: 20px;" (click)="toggleButton(selectedNews)">
            <mat-icon>toggle_off</mat-icon>
          </button>
      </div>
        <button class="close-btn" style="background-color: rgb(58, 92, 243);border: 0; width: 20%;height: 10%;border-radius: 10%;color: white;font-size: 20px;" (click)="closePopup()">ปิด</button>
    </div>
</div>
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5,10,20,50]" [showFirstLastButtons]="true" (page)="onPageChange($event)" style="font-size: 16px;"></mat-paginator>